<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>My Website - About</title>
            <link rel="stylesheet" href="/static/css/app.css">
        </head>
        <body>
            <h1>Juddy-Shae Wallace</h1>
            <p>I belong to the Faculty of Science and Technology and I am pursuing a Major in Computer Science and a Major/Minor in Statistics (offered by the Faculty of Social Sciences) in order to become a Data Scientist.  I am hoping to graduate in the following year after which, by God`s grace and permission, I may enroll in the Master`s Program offered by "Sci-Tech".  When I am not in the kitchen trying new recipes, babysitting, or caring for my pets; I am on my phone or Pinterest visualizing the life I hope to have.  I am a firm believer that with God, anything is possible, and my current favorite memory verse is Zechariah 2:5 - "For I, saith the LORD, will be unto her a wall of fire round about, and will be the glory in the midst of her." </p>
        </body>
    </html>